.infotooltip__button {
		margin: 0;
		padding: 0;
		outline: 0;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		transition: opacity .3s linear;
		border: 1px solid transparent;
}

.infotooltip__button:hover {
	opacity: .6;
	cursor: pointer;
}