.profile__avatar {
	display: block;
	width: 120px;
	height: 120px;
	background-position: center;
	object-fit: cover;
	border-radius: 100%;
   background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
   .profile__avatar {
		left: 0;
		top: 0;
   }
}