.infotooltip__button_type_close {
	width: 40px;
	height: 40px;
	top: -40px;
	right: -40px;
	background-image: url(../../../../images/closeicon/CloseIcon.svg);
	position: absolute;
}

@media (max-width: 768px) {
	.button_type_close {
		top: -53px;
		right: -2px;
		background-size: cover;
	}
}