.element__like {
	display: flex;
	top: 6px;
	right: 7.24px;
	background-image: url(../../../images/Group/Vector.svg);
	width: 21px;
	height: 18px;
	margin: 6px 6px 0 0;
	border: none;
	cursor: pointer;
	background-color: rgba(255, 255, 255);
	transition: opacity .1s;
}

.element__like:hover {
	opacity: .5;
}
