.popup__input_img_name {
	margin: 35px 36px 0px;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}

@media screen and (max-width: 767px) {
   .popup__input_img_name {
		margin: 70px 20px 0px;
		padding-bottom: 10px;
   }
}